%div#section{"ng-app"=>"superheroApp", "ng-controller"=>"superheroCtr"}
  %form{"ng-submit"=>"superheroSubmit($resource)"}
    %table
      %tbody
        %tr
          %th SH Name
          %th SH Age
        %tr{"ng-repeat" => "superhero in superheroes track by $index"}
          %td
            %input{"type"=>"text", "value" => "{{superhero.superhero_name}}", "ng-model" => "superhero.superhero_name" }
          %td
            %input{"type"=>"text", "value" => "{{superhero.age}}", "ng-model" => "superhero.age" }
        %tr
          %td
            %input{"type"=>"submit", "value"=>"Save Changes"}
          %td
            %input{"type"=>"button", "value"=>"Add Superhero", "ng-click" => "appendSuperheroFields()" }
